chequear googletrans

In [4]:
import pandas as pd

In [8]:
pd.read_csv('datos_entrada_script_02/df_eeuu.csv').iloc[:,1:]

,LastName,sdnType,Address,City,Country
0,AEROCARIBBEAN AIRLINES,NaN,NaN,Havana,Cuba
1,"ANGLO-CARIBBEAN CO., LTD.",NaN,"Ibex House, The Minories",London EC3N 1DY,United Kingdom
2,BANCO NACIONAL DE CUBA,NaN,Zweierstrasse 35,Zurich CH-8022,Switzerland
3,BANCO NACIONAL DE CUBA,NaN,Avenida de Concha Espina 8,Madrid E-28036,Spain
4,BANCO NACIONAL DE CUBA,NaN,"Dai-Ichi Bldg. 6th Floor, 10-2 Nihombashi, 2-c...",Tokyo 103,Japan
...,...,...,...,...,...
15281,PZNFR TRADING LIMITED,NaN,"Retail Lot L3-1, Level 3, Gateway Klia 2, Kual...","Sepang, Selangor Darul Ehsan 64000",Malaysia
15282,PIONEER SHIPMANAGEMENT PTE. LTD.,NaN,"24-07, Shenton House, 3, Shenton Way",Singapore 068805,Singapore
15283,GOLDEN WARRIOR SHIPPING CO. LIMITED,NaN,"9th Floor, Block C, Qingdao Plaza, 381, Dunhua...","Qingdao, Shandong 266034",China
15284,GOLDEN WARRIOR SHIPPING CO. LIMITED,NaN,"Unit D, 16/F, One Capital Place, 18 Luard Road...",Hong Kong,China
15285,GLORY HARVEST,vessel,NaN,NaN,NaN