# En este notebook se incluyen fragmentos de código con datos de prueba

## Eliminar nombres similares

In [4]:
import difflib

word = "learning"
possibilities = ["love", "learn", "lean", "moving", "hearing"]
n = 3
cutoff = 0.2

close_matches = difflib.get_close_matches(word, 
                possibilities, n, cutoff)

print(close_matches)

['hearing', 'learn', 'lean']

In [22]:
list_name = ['Alberto','Juan','Pedro','Pedros','Albert','Pepe','Jose','x','x','x','ola','hola','Albertiño']
new_list_name = []

n = 4
sensibility = 0

for i in list(range(len(list_name))):
    
    word = list_name[i]
    possibilities = list_name[(i+1):]
    
    close_matches = difflib.get_close_matches(word, possibilities, n, 1-sensibility)
    
    if len(close_matches) == 0:
        new_list_name.append(list_name[i])
new_list_name

['Alberto',
 'Juan',
 'Pedro',
 'Pedros',
 'Albert',
 'Pepe',
 'Jose',
 'x',
 'ola',
 'hola',
 'Albertiño']

In [29]:
list_name = ['Alberto','Juan','Pedro','Pedros','Albert','Pepe','Jose','x','x','x','ola','hola','Albertiño']
new_list_name = []
dup_list_name = []

n = 4
sensibility = 0.5

for i in list(range(len(list_name))):
    
    word = list_name[i]
    possibilities = list_name[(i+1):]
    
    close_matches = difflib.get_close_matches(word, possibilities, n, 1-sensibility)
    
    if len(close_matches) == 0:
        new_list_name.append(list_name[i])
    else:
        dup_list_name.append(list_name[i])
new_list_name

['Juan', 'Pedros', 'Pepe', 'Jose', 'x', 'hola', 'Albertiño']

In [30]:
dup_list_name

['Alberto', 'Pedro', 'Albert', 'x', 'x', 'ola']

In [31]:
import pandas as pd

pd.DataFrame(new_list_name).reset_index()

   index          0
0      0       Juan
1      1     Pedros
2      2       Pepe
3      3       Jose
4      4          x
5      5       hola
6      6  Albertiño

In [21]:
pd.DataFrame(list_name).reset_index()

    index          0
0       0    Alberto
1       1       Juan
2       2      Pedro
3       3     Pedros
4       4     Albert
5       5       Pepe
6       6       Jose
7       7          x
8       8          x
9       9          x
10     10        ola
11     11       hola
12     12  Albertiño

In [20]:
pd.merge(pd.DataFrame(list_name),pd.DataFrame(new_list_name),on=index,how='inner')

NameError: name 'index' is not defined

In [ ]:
list_name = df_ue_t1.iloc[0:11]['Name']
new_list_name = []

n = 4
sensibility = 0.1

for i in list(range(len(list_name))):
    
    word = list_name[i]
    possibilities = list_name[(i+1):]
    
    close_matches = difflib.get_close_matches(word, possibilities, n, 1-sensibility)
    
    if len(close_matches) == 0:
        new_list_name.append(list_name[i])
new_list_name

In [ ]:
list_name = df_ue_t1.iloc[0:11]['Name']
list_name

## Traductor

In [ ]:
df_eeuu = pd.read_csv('datos_entrada_script_02/df_eeuu.csv').iloc[:,1:]
df_prueba = df_eeuu_t1.head(4)

for i in df_prueba.index:
    for j in df_prueba.columns:
        trans = Translator().translate(df_prueba.loc[i,j] , dest ='es').text 
        print(trans)

In [ ]:
string = "Zurich CH-8022"

new_string = re.sub(r"(, .{0,50})|( [A-Z]{0,16}-[0-9]{0,50})|( \w\w\d.{0,50}[0-9]{0,50})","", string)
new_string

## Agrupar por ID

In [ ]:
import pandas as pd
df = pd.DataFrame(columns=['id','nombre'])
df = df.append({'id': 0, 'nombre':'Clarae'}, ignore_index=True)
df = df.append({'id': 0, 'nombre':'Halegarth'}, ignore_index=True)
df = df.append({'id': 1, 'nombre':'yon'}, ignore_index=True)
df = df.append({'id': 1, 'nombre':'juan'}, ignore_index=True)
df = df.append({'id': 1, 'nombre':'pedro'}, ignore_index=True)
df = df.append({'id': 2, 'nombre':'Halegarth'}, ignore_index=True)

array=df.groupby(['id'])['nombre'].transform(lambda x : ';'.join(x)).unique()
len(array)